body {
  min-width: 320px; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.page {
  height: 100%; }

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Calibri", "Arial", sans-serif;
  color: #0b132a; }

.content {
  flex: 1 0 auto; }

.page-header {
  z-index: 2;
  margin-top: 25px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); }

.nav-home {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navbar-expand-lg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px; }

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between; }

.navbar-toggler-icon {
  background-image: url("../img/icon-menu.png");
  background-repeat: no-repeat;
  background-position: center; }
  .navbar-toggler-icon:hover {
    opacity: 0.7; }
  .navbar-toggler-icon:focus {
    outline: none;
    opacity: 0.7; }

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  width: auto; }

.site-list {
  margin-left: 100px; }

.site-list__item {
  margin-right: 25px; }

.site-list__link {
  font-weight: 400;
  font-size: 14px;
  color: #343333;
  text-transform: uppercase;
  text-decoration: none; }
  .site-list__link:hover {
    color: #ffaf36; }
  .site-list__link:focus {
    color: #ffaf36;
    outline: none; }

.page-header__logo:focus {
  outline: none;
  opacity: 0.7; }

.site-list__link--active {
  color: #ffaf36; }

.user-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.user-nav__item {
  margin-right: 20px; }

.user-nav__link {
  font-weight: 400;
  font-size: 14px;
  color: #343333;
  text-transform: uppercase;
  padding-left: 20px;
  font-weight: 800;
  text-decoration: none; }
  .user-nav__link:hover {
    color: #ffaf36; }
  .user-nav__link:focus {
    color: #ffaf36;
    outline: none; }

.user-nav__link--user-in {
  background-image: url("../img/user-in.png");
  background-repeat: no-repeat;
  background-position: left center; }

.user-nav__link--cabinet {
  background-image: url("../img/user-in.png");
  background-repeat: no-repeat;
  background-position: left center; }

.user-nav__link--sign-in {
  padding-left: 25px;
  background-image: url("../img/sign-in.png");
  background-repeat: no-repeat;
  background-position: left center; }

@media screen and (max-width: 1200px) {
  .site-list {
    margin-left: 0; }
  .navbar-expand-lg {
    padding: 20px 10px; } }

@media screen and (max-width: 991px) {
  .nav-home {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; } }

.first-screen {
  position: relative;
  top: -170px;
  z-index: 0;
  margin-top: 50px;
  padding: 200px 0 100px;
  background-image: url("../img/bg.webp"), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.first-screen__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }

.first-screen__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #343333;
  text-transform: uppercase;
  margin-top: 20px; }

.first-screen__video {
  display: block;
  margin: 0 auto;
  margin-top: 30px; }

@media screen and (max-width: 991px) {
  .first-screen__title br {
    display: none; }
  .first-screen__video {
    width: 100%; } }

@media screen and (max-width: 540px) {
  .first-screen__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px; }
  .first-screen__subtitle {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px; } }

@media screen and (max-width: 440px) {
  .first-screen__title {
    width: 300px;
    font-size: 20px;
    line-height: 28px; } }

.presentation {
  margin-top: -100px; }

.presentation__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }

.presentation__video {
  display: block;
  margin: 0 auto;
  margin-top: 30px; }

@media screen and (max-width: 991px) {
  .presentation__video {
    width: 100%; } }

@media screen and (max-width: 540px) {
  .presentation {
    margin-top: -70px; }
  .presentation__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px; } }

@media screen and (max-width: 440px) {
  .presentation__title {
    width: 300px;
    font-size: 20px; } }

.testimonials {
  margin-top: 100px;
  margin-bottom: 100px; }

.testimonials__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }

.testimonials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  margin-top: 50px;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr; }

.testimonials__video {
  width: 100%;
  height: 300px; }

.registration-btn {
  display: block;
  width: 250px;
  height: 60px;
  margin: 0 auto;
  margin-top: 50px;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffaf36 0%, #d5830a 100%), linear-gradient(0deg, #c4c4c4, #c4c4c4);
  border: none;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); }
  .registration-btn:hover {
    opacity: 0.8; }
  .registration-btn:focus {
    outline: none;
    opacity: 0.8; }

@media screen and (max-width: 991px) {
  .testimonials__list {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 767px) {
  .testimonials {
    margin-top: 70px;
    margin-bottom: 70px; } }

@media screen and (max-width: 540px) {
  .testimonials__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px; } }

@media screen and (max-width: 440px) {
  .testimonials__title {
    width: 300px;
    font-size: 20px; }
  .testimonials__list {
    margin-top: 30px; } }

.page-footer {
  margin-top: 100px;
  padding: 20px 0;
  background-color: #eae8e8; }

.page-footer--marketing,
.page-footer--for-partners {
  margin-top: 0; }

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 30%; }

.socials__item {
  width: 30px;
  height: 30px;
  margin-right: 15px; }
  .socials__item:hover {
    opacity: 0.8; }
  .socials__item a:focus {
    outline: none;
    opacity: 0.7; }

.copyright {
  margin-bottom: 0;
  color: #343333; }

@media screen and (max-width: 767px) {
  .socials {
    margin-right: 10%; } }

@media screen and (max-width: 440px) {
  .socials {
    margin-right: 5%;
    margin-bottom: 20px; }
  .socials__item {
    margin-right: 10px; } }

.modal {
  width: 300px; }

.close {
  width: 15px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none; }
  .close:hover {
    background-image: url("../img/close-hover.png"); }
  .close:focus {
    background-image: url("../img/close-hover.png");
    outline: none; }

.modal-text {
  text-align: center; }

.modal-input-checkbox {
  width: auto;
  margin-bottom: 0; }

.modal-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .modal-body label {
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px; }
  .modal-body div {
    width: 80%; }
    .modal-body div input {
      width: 100%; }

.modal-label {
  width: 100%;
  font-size: 14px;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 0; }

.modal-footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }

.modal-checkbox {
  display: flex;
  align-items: center; }

.modal-input {
  width: 80%;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid #c4c4c4;
  border-radius: 40px; }
  .modal-input:hover {
    border-color: #ffaf36; }
  .modal-input:focus {
    border-color: #ffaf36;
    outline: none; }

.modal-dialog .modal-footer {
  display: flex;
  justify-content: center; }

.modal-btn {
  padding: 0 30px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffaf36 0%, #d5830a 100%), linear-gradient(0deg, #c4c4c4, #c4c4c4);
  border: none;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); }
  .modal-btn:hover {
    opacity: 0.8; }
  .modal-btn:focus {
    outline: none;
    opacity: 0.7; }

.modal-link {
  color: #0b132a; }
  .modal-link:hover {
    color: #ffaf36; }
  .modal-link:focus {
    color: #ffaf36;
    outline: none; }

.password {
  margin-top: 100px; }
  .password form {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }

.password__title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px; }

.password__input {
  width: 400px;
  margin-right: 20px;
  margin-bottom: 0; }

.password__btn {
  padding: 10px 20px; }

@media screen and (max-width: 396px) {
  .password__input {
    margin-bottom: 20px; } }

.services {
  margin-top: -100px; }

.services--home {
  margin-top: 100px;
  background-color: #f8f8f8;
  padding: 100px 0 80px; }

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.services__list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  margin-bottom: 30px;
  padding: 40px;
  background-repeat: no-repeat;
  background-position: 20px center;
  border: 1px solid #ffaf36;
  border-radius: 40px;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1); }
  .services__list-item:hover {
    border-color: #c4c4c4; }

.services__list-link {
  text-decoration: none; }

.services__list-item-header {
  width: 250px;
  padding-left: 90px;
  font-weight: 800;
  font-size: 18px;
  color: #0b132a; }

.services__list-item--steps {
  background-image: url("../img/service-icon1.png"); }

.services__list-item--lessons {
  background-image: url("../img/service-icon2.png"); }

.services__list-item--functions {
  background-image: url("../img/service-icon3.png"); }

.services__list-item--net-works {
  background-image: url("../img/service-icon4.png"); }

.services__list-item--mobile {
  background-image: url("../img/service-icon5.png"); }

.services__list-item--video {
  background-image: url("../img/service-icon6.png"); }

.services__list-item--for-partners {
  background-image: url("../img/service-icon7.png"); }

.services__list-item--materials {
  background-image: url("../img/service-icon8.png"); }

.services__list-item--selling {
  background-image: url("../img/service-icon9.png"); }
  .services__list-item--selling .services__list-item-header {
    font-size: 16px; }

.services__list-item--webinar {
  background-image: url("../img/service-icon10.png"); }

.services__list-item--library {
  background-image: url("../img/service-icon11.png"); }

.services__list-item--support {
  background-image: url("../img/service-icon12.png"); }

.services__list-item--grid {
  background-image: url("../img/service-icon13.png"); }

.services__list-item--diplex {
  background-image: url("../img/service-icon14.png"); }

@media screen and (max-width: 1199px) {
  .services__list-item-header {
    width: 210px;
    font-size: 16px; }
  .services__list-item {
    background-size: 100px auto; } }

@media screen and (max-width: 991px) {
  .services__list-item {
    width: 45%; }
  .services__list-item-header {
    width: 250px;
    font-size: 18px; } }

@media screen and (max-width: 767px) {
  .services {
    margin-top: 70px;
    padding: 70px 0 50px; }
  .services__list-item-header {
    width: 200px;
    font-size: 15px; }
  .services__list-item {
    padding: 30px;
    background-size: 80px auto;
    border-radius: 30px; }
  .services__list-item--selling .services__list-item-header {
    font-size: 13px; } }

@media screen and (max-width: 600px) {
  .services__list-item {
    width: 100%;
    padding: 40px;
    background-size: 120px auto;
    border-radius: 40px; }
  .services__list-item-header {
    width: 350px;
    font-size: 18px; }
  .services__list-item--selling .services__list-item-header {
    font-size: 16px; } }

@media screen and (max-width: 470px) {
  .services__list-item {
    background-size: 100px auto; }
  .services__list-item-header {
    width: 300px;
    font-size: 20px; }
  .services__list-item--selling .services__list-item-header {
    font-size: 18px; } }

@media screen and (max-width: 410px) {
  .services__list-item {
    background-size: 100px auto; }
  .services__list-item-header {
    width: 250px;
    font-size: 18px; }
  .services__list-item--selling .services__list-item-header {
    font-size: 16px; } }

@media screen and (max-width: 350px) {
  .services__list-item-header {
    width: 220px;
    font-size: 18px; } }
